.tiptap.ProseMirror {
  .node-dataNode {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* Default styling */
    background-color: transparent;

    .tiptap-data-node {
    &.template-celeste {
 .data-node-content {
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 2px;
      }
    }
&.type-title-slide {
  &.variant-no-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: blue;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              font-family: "Poppins", sans-serif;
              font-weight: 600;
            }

            .node-heading:has(h4) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: ;
              text-align: center;
              font-family: "Poppins", sans-serif;
              font-weight: 600;
            }
        }

      }
    }
  }
}&.type-thank-you-slide {
  &.variant-no-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: blue;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              font-family: "Poppins", sans-serif;
              font-weight: 600;
            }

            .node-heading:has(h4) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: ;
              text-align: center;
              font-family: "Poppins", sans-serif;
              font-weight: 600;
            }
        }

      }
    }
  }
}
}
    }}}