.tiptap.ProseMirror {
  .node-dataNode {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* Default styling */
    background-color: transparent;

    .tiptap-data-node {
    &.template-lumen {
 &.type-title-slide {
  &.variant-top-image {
    .data-node-content {
      background-color: #FAFAFA;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #242725;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
            }

            .node-heading:has(h4) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #2ED47B;
              text-align: center;
            }
        }

      }
    }
  }
}&.type-thank-you-slide {
  &.variant-top-image {
    .data-node-content {
      background-color: #FAFAFA;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #242725;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
            }

            .node-heading:has(h4) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #2ED47B;
              text-align: center;
            }
        }

      }
    }
  }
}&.type-title-slide {
  &.variant-lumen-title-layout-with-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .node-image {
            z-index: 0;
          }
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #141414;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              font-family: "Roboto", sans-serif;
              font-weight: 700;
              position: relative;
              background: #fff;
            }

            .node-heading:has(h4) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #fff;
              background-color: #2ED47B;
              text-align: center;
              font-family: "Roboto", sans-serif;
              font-weight: 700;
              background: #2ED47B;
              position: relative;
            }
        }
        .tiptap-block-node {


            .node-image {
              height: auto;
              width: 100%;
              position: absolute;
              top: 0;
              z-index: -1;
            }        }

      }
    }
  }
}&.type-agenda-slide {
  &.variant-left-image {
    .data-node-content {
      background-color: #FFFFFF;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: grid;
          grid-template-columns: 37% 1fr;
          grid-template-rows: 1fr;
        ul {
          grid-column: 2;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          list-style: none;
          padding: 10px 0px;
          margin: 0;
          li {
            display: flex;
          align-items: center;
          gap: clamp(4px, 1vw, 16px);
          span {
            background-color: #2ED47B;
          height: clamp(12px, 2vw, 17px) !important;
          width: clamp(12px, 2vw, 17px) !important;
          }
          p {
            font-size: clamp(4px, 2vw, 15px) !important;
          }
          position: relative;
          padding: clamp(4px, 1vw, 16px) 0 clamp(4px, 1vw, 16px) clamp(12px, 4vw, 48px);
          margin: 0;
          font-weight: 700;
          color: #141414;
          font-family: "Roboto", sans-serif;
          }
        }

      }
    }
  }
}&.type-accent-image-slide {
  &.variant-left-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: grid;
          align-items: center;
          grid-template-columns: 37% 1fr;
        .tiptap-block-node {
          padding-right: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;


            .node-heading:has(h2) {
              color: #242725;
              margin: 0 0 clamp(6px, 2vw, 25px) 0;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
            }

            .node-paragraph {
              color: #242725;
              padding-right: clamp(12.5px, 4vw, 50px);
              margin-bottom: clamp(12.5px, 4vw, 50px);
            }
        }

      }
    }
  }
}&.type-accent-image-slide {
  &.variant-lumen-accents-image-rightside {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: grid;
          align-items: center;
          grid-template-columns: 63% 1fr;
        .tiptap-block-node {
          padding-right: 0px;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 10;
          position: relative;


            .node-heading:has(h2) {
              color: #242725;
              margin: 0 0 clamp(6px, 2vw, 25px) 0;
              font-weight: 600;
              font-family: "Roboto", sans-serif;
              width: 100%;
              padding-left: clamp(10px,4vw,25px);
              padding-top: clamp(35px,12vw,60px);
            }

            .node-paragraph {
              color: #141414;
              padding-right: 0px;
              margin-bottom: clamp(12.5px, 4vw, 50px);
              font-family: "Inter", sans-serif;
              font-weight: 400;
              padding-left: 20px;
            }
        }

      }
    }
  }
}&.type-heading-text-slide {
  &.variant-left-heading {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: clamp(12.5px, 4vw, 50px);


            .node-heading:has(h1) {
              color: #242725;
              font-family: "Roboto", sans-serif;
              display: flex;
              justify-content: center;
              text-align: center;
              width:  100%;
              flex: 1;
              font-weight: 600;
            }

            .node-paragraph {
              color: #242725;
              padding: 0 clamp(12.5px, 4vw, 50px);
              flex: 1;
            }
        }

      }
    }
  }
}&.type-heading-text-slide {
  &.variant-lumen_headingtext-left {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: clamp(12.5px, 4vw, 50px);


            .node-heading:has(h1) {
              color: #fff;
              display: flex;
              justify-content: center;
              text-align: center;
              width:  100%;
              flex: 1;
              font-family: "Roboto", sans-serif;
              font-weight: 700;
            }

            .node-shapeNode {
              width: 38%;
              height: clamp(4px, 0.5556vw, 8px);
              flex-shrink: 0;
              background-color: #FAFAFA;
              position: absolute;
              right: 0;
              left: 0;
              bottom: clamp(80px, 10vw, 160px);
            }

            .node-paragraph {
              color: #141414;
              flex: 1;
              font-family: "Inter", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-heading-text-slide {
  &.variant-lumen_headingtext-top {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: clamp(12.5px, 1vw, 25px);


            .node-heading:has(h1) {
              color: #242725;
              display: flex;
              justify-content: center;
              text-align: center;
              width:  100%;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
            }

            .node-paragraph {
              color: #242725;
              padding: 0 clamp(12.5px, 4vw, 50px);
              font-family: "Inter", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-section-break-slide {
  &.variant-sectionbreak1 {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: flex;
          justify-content: center;
          align-items: center;
        .tiptap-block-node {
          display: flex;
          justify-content: start;
          gap: 0 clamp(10px,3vw,25px);
          width: fit-content;
          height: fit-content;
          align-items: center;


            .node-paragraph {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              width: clamp(30px, 16vw, 160px);
              height: clamp(30px, 16vw, 160px);
              background: #2ED47B;
              font-family: Roboto,sans-serif;
              font-weight: 600;
              color: #FAFAFA;
              p {
                font-size: clamp(28px, 6vw, 90px) !important;
              }
            }

            .node-heading:has(h1) {
              color: #242725;
              font-family: Roboto,sans-serif;
              font-weight: 600;
            }
        }

      }
    }
  }
}&.type-section-break-slide {
  &.variant-lumen-sectionbreak1 {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: flex;
          justify-content: center;
          align-items: center;
        .tiptap-block-node {
          display: flex;
          justify-content: space-between;
          gap: 0 clamp(10px,3vw,25px);
          width: 83%;
          height: fit-content;
          align-items: center;


            .node-paragraph {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              width: clamp(30px, 16vw, 160px);
              height: clamp(30px, 16vw, 160px);
              background: none;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
              color: #fff;
              p {
                font-size: clamp(30px, 16vw, 128px) !important;
              }
            }

            .node-heading:has(h1) {
              font-family: "Roboto", sans-serif;
              font-weight: 700;
              color: #242725;
            }
        }

      }
    }
  }
}&.type-text-card-slide {
  &.variant-default {
    .data-node-content {
      background-color: #FAFAFA;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 30px 0;
        .node-heading:has(h1) {
          color: #242725;
          padding-left: clamp(12px, 4vw, 20px);
          font-family: "Roboto", sans-serif;
          font-weight: 600;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          padding: clamp(32px, 2vw, 36px) clamp(16px, 4vw, 20px);
          gap: 0 clamp(12.5px, 4vw, 50px);
          height: fit-content;

            .tiptap-block-node {
              display: flex;
              flex-direction: column;
              padding: clamp(8px, 2vw, 16px) clamp(10px, 3vw, 20px);
              gap: 0 clamp(8px, 4vw, 20px);
              border-radius: clamp(10px, 2vw, 20px);
              background: #fff;
              border: clamp(2px, 0.5vw, 3px) solid #fff;

                .node-heading:has(h4) {
                  font-weight: bold;
                  color: #2ED47B;
                  display: flex;
                  justify-content: left;
                  font-family: "Roboto", sans-serif;
                  margin-bottom: clamp(6px, 2vw, 24px);
                }

                .node-paragraph {
                  margin: 0;
                  color: #242725;
                }
            }
        }

      }
    }
  }
}&.type-text-card-slide {
  &.variant-lumen-textcard-slide {
    .data-node-content {
      background-color: #F0F1F5;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 30px 0;
        .node-heading:has(h1) {
          color: #242725;
          padding-left: clamp(12.5px, 4vw, 20px);
          font-family: "Poppins", sans-serif;
          font-weight: 600;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          padding: clamp(32px, 2vw, 36px) clamp(16px, 4vw, 20px);
          gap: clamp(10px, 3vw, 20px);
          height: fit-content;

            .tiptap-block-node {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              gap: clamp(10px, 2vw, 20px);
              padding: 0px;
              position: relative;
              height: clamp(55px, 10vw, 90px);
              background: #FAFBFF;
              border: clamp(2px, 0.5vw, 3px) solid #FFF;
              border-radius: clamp(10px, 2vw, 20px);

                .node-heading:has(h4) {
                  font-weight: bold;
                  font-family: "Roboto", sans-serif;
                  color: #2ED47B;
                  display: flex;
                  justify-content: left;
                  flex: 1;
                  padding-left: clamp(10px, 3vw, 20px);
                }

                .node-paragraph {
                  margin: 0;
                  color: #242725;
                  flex: 3;
                  p {
                    font-family: "Inter", sans-serif;
                  font-weight: 400;
                  }
                }
            }
        }

      }
    }
  }
}&.type-unordered-bullets-slide {
  &.variant-no-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: clamp(6px, 2vw, 10px) 0;
        .node-heading:has(h1) {
          color: #242725;
          padding-left: 20px;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
        }
        ul {
          list-style: none;
          padding: clamp(10px, 3vw, 20px) clamp(10px, 3vw, 20px);
          li {
            display: flex;
          align-items: center;
          gap: 0 clamp(7px, 2vw, 16px);
          margin-bottom: clamp(7px, 2vw, 16px);
          color: #000;
          span {
            margin-top: 0px;
          background: #2ED47B;
          height: clamp(12px, 2vw, 17px) !important;
          width: clamp(12px, 2vw, 17px) !important;
          }
          p {
            font-size: clamp(6px, 1.6vw, 13px) !important;
          font-family: "Inter", sans-serif;
          }
          }
        }

      }
    }
  }
}&.type-unordered-bullets-slide {
  &.variant-lumen-bullets-slide {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: flex;
          align-items: center;
          padding: 10px 0;
        .tiptap-block-node {
          padding: 0 !important;
          display: flex;
          flex-direction: column;
          justify-content: start;
          z-index: 10;
          flex-basis: 51%;
          position: relative;


            .node-heading:has(h1) {
              color: #242725;
              padding-left: 20px;
              font-family: "Roboto", sans-serif;
              font-weight: 700;
            }

            ul {
              list-style: none;
              padding: clamp(10px, 3vw, 20px) clamp(10px, 3vw, 20px);
              li {
                display: flex;
              align-items: center;
              gap: 0 clamp(7px, 2vw, 16px);
              margin-bottom: clamp(7px, 2vw, 16px);
              color: #141414;
              span {
                margin-top: 0px;
              background: #2ED47B;
              height: clamp(12px, 2vw, 17px) !important;
              width: clamp(12px, 2vw, 17px) !important;
              }
              p {
                font-size: clamp(6px, 1.6vw, 13px) !important;
              font-family: "Inter", sans-serif;
              }
              }
            }
        }
        .react-renderer.node-image {
          flex-basis: 40%;
        }

      }
    }
  }
}&.type-image-formats-slide {
  &.variant-square-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 0 clamp(11px, 3vw, 44px);
          padding: clamp(12.5px, 4vw, 50px);
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr;
          grid-template-rows: 30% auto 1fr;
          gap: clamp(3px, 1vw, 12px) 0;
          padding: 0;


            .node-image {
              width: 100%;
              object-fit: cover;
              border-radius: clamp(3px, 1vw, 12px);
              overflow: hidden;
            }

            .node-heading:has(h4) {
              color: #2ED47B;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
            }

            .node-paragraph {
              color: #242725;
              height: fit-content;
            }
        }

      }
    }
  }
}&.type-image-formats-slide {
  &.variant-lumen-image-formats-cricle-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 0 clamp(11px, 3vw, 44px);
          padding: clamp(12.5px, 4vw, 50px);
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: start;
          gap: clamp(3px, 1vw, 12px);
          padding: 0;


            .node-image {
              position: relative;
              display: inline-block;
              padding: clamp(6px, 1vw, 10px);
              width: clamp(100px, 15vw, 155px);
              height: clamp(100px, 15vw, 155px);
              flex-shrink: 0;
              border-radius: 50%;
              img {
                display: block;
              border-radius: 50%;
              object-fit: cover;
              background-color: #fff;
              }
            }

            .node-heading:has(h4) {
              color: #2ED47B;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
            }

            .node-paragraph {
              color: #242725;
              height: fit-content;
              font-family: "Inter", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-large-bullet {
    .data-node-content {
      background-color: #FFFFFF;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 0px;
        .node-heading:has(h1) {
          color: #242725;
          padding-left: 20px;
          font-weight: 600;
          font-family: Roboto,sans-serif;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          padding: 20px 20px;

            .tiptap-block-node {
              display: flex;
              flex-direction: row;
              align-items: start;
              gap: 0 clamp(3px,2vw,17px);
              padding: 0;

                .node-paragraph {
                  color: #FAFAFA;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  width: clamp(15px,4vw,50px);
                  height: clamp(15px,4vw,50px);
                  background: #2ED47B;
                  font-weight: 600;
                  font-family: Outfit,sans-serif;
                }
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #2ED47B;
                      font-weight: 600;
                      font-family: Roboto,sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #242725;
                      font-weight: 400;
                      font-family: Inter,sans-serif;
                    }
                }
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-lumen-info-collection-slide-variant1 {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: clamp(10px, 3vw, 40px) 0 clamp(12.5px, 4vw, 50px) 0;
        .node-heading:has(h1) {
          color: #141414;
          padding-left: 0px;
          font-weight: 700;
          font-family: "Roboto", sans-serif;
          text-align: center;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto;
          padding: clamp(20px, 5vw, 40px) clamp(10px, 3vw, 20px) 0px !important;

            .tiptap-block-node {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 0 clamp(3px,2vw,17px);
              padding: 0px !important;
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-image {
                      position: relative;
                      display: inline-block;
                      padding: clamp(9px, 1vw, 10px);
                      width: clamp(100px, 10vw, 125px);
                      height: clamp(100px, 10vw, 125px);
                      flex-shrink: 0;
                      border-radius: 50%;
                      overflow: hidden;
                      img {
                        display: block;
                      width: 100%;
                      height: 100%;
                      border-radius: 50%;
                      object-fit: cover;
                      background-color: #fff;
                      }
                    }

                    .node-heading:has(h4) {
                      color: #2ED47B;
                      font-weight: 600;
                      font-family: "Roboto", sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #141414;
                      font-weight: 400;
                      font-family: "Inter", sans-serif;
                    }
                }
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-lumen_info-collection-timeline-variant2 {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: clamp(10px, 4vw, 20px) 0;
        .node-heading:has(h1) {
          color: #141414;
          padding-left: clamp(12.5px, 4vw, 20px);
          font-family: "Jost", sans-serif;
          font-weight: 700;
        }
        .tiptap-block-node {
          position: relative;

            .tiptap-block-node {
              display: flex;
              flex-direction: row;
              gap: clamp(10px, 2vw, 20px);
              padding: clamp(10px, 2vw, 15px) clamp(15px, 3vw, 20px);
              height: auto;

                .node-paragraph {
                  color: #FAFAFA;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  width: clamp(15px,4vw,50px);
                  height: clamp(15px,4vw,50px);
                  background: #2ED47B;
                  font-weight: 700;
                  font-family: "Roboto", sans-serif;
                  border-radius: 50%;
                }
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  3px;

                    .node-heading:has(h4) {
                      color: #2ED47B;
                      font-family: "Roboto", sans-serif;
                      font-weight: 760;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #141414;
                      font-family: "Inter", sans-serif;
                      font-weight: 400;
                    }
                }
            }

            .react-renderer.node-image {
              height: clamp(134px, 25vw, 314px);
              left: clamp(21.5px, 2.85vw, 41px);
              top: clamp(50px, 8vw, 90px);
              z-index: -1;
              width: 2px;
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-lumen_info-collection-timeline-variant3 {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: clamp(20px, 5vw, 40px) 0px;
        .node-heading:has(h1) {
          color: #141414;
          padding-left: 0px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          text-align: center;
        }
        .tiptap-block-node:first-of-type:not(.tiptap-block-node .tiptap-block-node) {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto;
          padding: 0 clamp(12.5px, 4vw, 50px);
          position: relative;
          gap: 20px;
          &::before {
            content: '';
          display: inline-block;
          position: absolute;
          top: clamp(-12px, 1vw, 27px);
          width: 83%;
          height: 20px;
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1045" height="30" viewBox="0 0 1045 30" fill="none"><path d="M1044.41 16.4142C1045.2 15.6332 1045.2 14.3668 1044.41 13.5858L1031.69 0.857864C1030.91 0.0768156 1029.64 0.0768156 1028.86 0.857864C1028.08 1.63891 1028.08 2.90524 1028.86 3.68629L1040.17 15L1028.86 26.3137C1028.08 27.0948 1028.08 28.3611 1028.86 29.1421C1029.64 29.9232 1030.91 29.9232 1031.69 29.1421L1044.41 16.4142ZM0 15V17H1043V15V13H0V15Z" fill="%232ED47B"/></svg>');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          z-index: -1;
          right: 50px;
          }

            .tiptap-block-node {
              display: flex;
              flex-direction: column;
              gap: clamp(3px, 2vw, 9px) clamp(20px, 5vw, 45px);
              padding: clamp(5px, 1.5vw, 10px) 0px;
              height: auto;

                .node-paragraph {
                  color: #FAFAFA;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  width: clamp(15px,4vw,50px);
                  height: clamp(15px,4vw,50px);
                  background: #2ED47B;
                  font-weight: 700;
                  font-family: "Roboto", sans-serif;
                  border-radius: 50%;
                }
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #141414;
                      font-weight: 600;
                      font-family: 'Montserrat', sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #141414;
                      font-family: "Inter", sans-serif;
                      font-weight: 400;
                    }
                }
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-lumen_info-collection-timeline-variant4 {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: clamp(6px, 1vw, 10px) 0;
        .node-heading:has(h1) {
          color: #141414;
          padding-left: clamp(12px, 2vw, 20px);
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: start;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto auto;
          padding: 0 clamp(12px, 2vw, 20px);

            .tiptap-block-node {
              display: flex;
              flex-direction: column;
              gap: clamp(3px, 2vw, 9px) clamp(20px, 5vw, 45px);
              padding: clamp(25px, 25px, 25px) 0;
              height: auto;
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #FAFAFA;
                      font-weight: 600;
                      font-family: "Roboto", sans-serif;
                      text-align: center;
                      strong {
                        font-size: clamp(6px, 2vw, 20px);
                      }
                      padding: clamp(8px, 1.5vw, 11px) 0;
                      background: #2ED47B;
                      clip-path: polygon(0% 0%, calc(100% - 32px) 0%, 100% 50%, calc(100% - 32px) 100%, 0% 100%, 32px 50%);
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }

                    ol {
                      list-style: none;
                      padding: clamp(10px, 2vw, 15px) 0px;
                      li {
                        display: flex;
                      align-items: center;
                      gap: clamp(6px, 2vw, 10px);
                      margin-bottom: clamp(7px, 2vw, 16px);
                      color: #141414;
                      span {
                        width: clamp(6px, 2vw, 12px) !important;
                      height: clamp(6px, 2vw, 12px) !important;
                      background: #2ED47B;
                      margin-top: 0px;
                      }
                      p {
                        font-family: "Inter", sans-serif;
                      font-size: clamp(6px, 1.8vw, 16px) !important;
                      }
                      }
                    }
                }
            }
        }

      }
    }
  }
}&.type-funnel-slide {
  &.variant-funnel-text {
    .data-node-content {
      background-color: #FAFAFA;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 20px;
          padding-top: clamp(10px,3vw,40px);
        .node-heading:has(h1) {
          color: #242725;
          font-weight: 600;
          font-family: Roboto, sans-serif;
        }
        .node-shapeNode {
          width: 55%;
          height: clamp(6px,2vw,8px);
          background: #EFF0EF;
        }
        .tiptap-block-node {
          display: grid;
          padding-top: clamp(42px, 3vw, 30px);
          padding-left: 0;
          padding-right: 0px;
          row-gap: 8px;

            .tiptap-block-node:nth-of-type(1) {
              display: flex;
              align-items: center;
              padding: 0px;
              justify-content: space-between;
              gap: 0px clamp(10px, 2vw, 20px);

                .node-heading:has(h4) {
                  white-space: normal;
                  color: #FAFAFA;
                  font-weight: 600;
                  font-family: Roboto, sans-serif;
                  background: #2ED47B;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  flex-basis: 55%;
                  height: clamp(40px, 8vw, 80px);
                  text-align: center;
                  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
                  strong {
                    font-size: clamp(8px, 2vw, 18px) !important;
                  padding: 12px;
                  }
                }

                .node-paragraph {
                  color: #242725;
                  font-weight: 400;
                  font-family: Inter, sans-serif;
                  flex-basis: 47%;
                }
            }
            .tiptap-block-node:nth-of-type(2) {
              display: flex;
              align-items: center;
              justify-content: start;
              padding: 0px;
              padding-left: clamp(14px,4.3vw,43px);
              gap: 0px clamp(10px, 2vw, 20px);

                .node-heading:has(h4) {
                  color: #FAFAFA;
                  font-weight: 600;
                  font-family: Roboto, sans-serif;
                  background: #2ED47B;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  flex-basis: 44%;
                  height: clamp(40px, 8vw, 80px);
                  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
                  flex-shrink: 0;
                  text-align: center;
                  padding: 0 12px;
                  strong {
                    font-size: clamp(8px, 2vw, 18px) !important;
                  padding: 12px;
                  }
                }

                .node-paragraph {
                  color: #242725;
                  font-weight: 400;
                  font-family: Inter, sans-serif;
                  flex-basis: 53%;
                }
            }
            .tiptap-block-node:nth-of-type(3) {
              display: flex;
              align-items: center;
              justify-content: start;
              padding-top: 0px;
              padding-left: clamp(20px, 8.8vw, 80px);
              gap: 0px clamp(10px, 2vw, 20px);

                .node-heading:has(h4) {
                  color: #FAFAFA;
                  font-weight: 600;
                  font-family: Roboto, sans-serif;
                  background: #2ED47B;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  width: clamp(110px, 30vw, 310px);
                  height: clamp(40px, 8vw, 80px);
                  max-width: 240px;
                  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
                  flex-shrink: 0;
                  text-align: center;
                  strong {
                    font-size: clamp(8px, 2vw, 18px) !important;
                  padding: 12px;
                  }
                }

                .node-paragraph {
                  color: #242725;
                  font-weight: 400;
                  font-family: Inter, sans-serif;
                }
            }
        }

      }
    }
  }
}&.type-funnel-slide {
  &.variant-lumen-slide-pyramind {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 0px;
        .node-heading:has(h1) {
          color: #242725;
          font-weight: 600;
          font-family: "Roboto", sans-serif;
          padding: clamp(12px, 2vw, 18px) clamp(12px, 3vw, 20px);
        }
        .tiptap-block-node {
          display: grid;
          padding-top: clamp(10px, 2vw, 20px);
          padding-left: clamp(10px, 2vw, 20px);
          padding-right: clamp(10px, 2vw, 20px);
          height: max-content;
          row-gap: clamp(4px, 1.5vw, 8px);

            .tiptap-block-node:nth-of-type(1) {
              display: flex;
              align-items: start;
              justify-content: start;
              width: auto;
              padding: 0px;
              padding-left: clamp(137px, 8vw, 136px);
              gap: 0px clamp(10px, 2vw, 20px);
              @media (max-width: 768px) {
                padding-left: 50px;
              }
                .tiptap-block-node.tiptap-block-node:nth-child(1)  {
                  white-space: normal;
                  color: #012928;
                  font-weight: 600;
                  font-family: "Jost", sans-serif;
                  background: #2ED47B;
                  display: inline-flex;
                  justify-content: center;
                  height: max-content;
                  clip-path: polygon(0% 100%, 51% 0%, 51% 0%, 100% 100%);
                  flex-direction: column;
                  flex-basis: 34%;
                  padding: clamp(15px, 3vw, 27px) clamp(20px, 4vw, 39px) clamp(5px, 2vw, 8px);
                  text-align: center;
                  align-items: center;
                  gap: clamp(6px, 1vw, 10px);

                    .react-renderer.node-paragraph:nth-child(1) {
                      width: clamp(14px, 4vw, 32px);
                      height: clamp(14px, 4vw, 32px);
                      border-radius: 50%;
                      background: #FAFAFA;
                      color: #242725;
                      font-weight: 600;
                      font-family: "Roboto", sans-serif;
                      font-size: clamp(12px, 3vw, 20px) !important;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }

                    .node-paragraph {
                      color: #FAFAFA;
                      text-align: center;
                      font-family: "Inter", sans-serif;
                      font-style: normal;
                      font-weight: 400 !important;
                      line-height: normal;
                    }
                }
                .tiptap-block-node {
                  flex-direction: column;
                  flex-basis: 66%;
                  align-items: start;
                  padding-left: 0px;
                  background: transparent;

                    .node-heading:has(h4) {
                      color: #2ED47B;
                      font-family: "Roboto", sans-serif;
                      font-weight: 600;
                    }

                    .node-paragraph {
                      color: #141414;
                      font-family: "Inter", sans-serif;
                      font-weight: 400;
                    }
                }
            }
            .tiptap-block-node:nth-of-type(2) {
              display: flex;
              align-items: start;
              justify-content: start;
              width: auto;
              padding: 0px;
              padding-left: clamp(10px, 8vw, 62px);
              gap: 0px clamp(10px, 2vw, 20px);
              @media (max-width: 768px) {
                padding-left: 18px;
              }
                .tiptap-block-node.tiptap-block-node:nth-child(1)  {
                  white-space: normal;
                  color: white;
                  font-weight: 600;
                  font-family: "Poppins", sans-serif;
                  background: #2ED47B;
                  display: inline-flex;
                  justify-content: center;
                  height: initial;
                  clip-path: polygon(19% 0%, 81% 0%, 100% 100%, 0% 100%);
                  flex-direction: column;
                  padding: clamp(8px, 2vw, 13px) 0px;
                  text-align: center;
                  align-items: center;
                  gap: clamp(6px, 1vw, 10px);
                  flex-basis: 50%;
                  @media (max-width: 768px) {
                    flex-basis: 49%;
                  }

                    .react-renderer.node-paragraph:nth-child(1) {
                      width: clamp(14px, 4vw, 32px);
                      height: clamp(14px, 4vw, 32px);
                      border-radius: 50%;
                      background: #FAFAFA;
                      color: #242725;
                      font-weight: 600;
                      font-family: "Roboto", sans-serif;
                      font-size: clamp(12px, 3vw, 20px) !important;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }

                    .node-paragraph {
                      color: #FAFAFA;
                      text-align: center;
                      font-family: "Lato", sans-serif;
                      font-style: normal;
                      font-weight: 400 !important;
                      line-height: normal;
                    }
                }
                .tiptap-block-node {
                  flex-direction: column;
                  flex-basis: 46%;
                  align-items: start;
                  padding-left: 0px;
                  background: transparent;

                    .node-heading:has(h4) {
                      color: #2ED47B;
                      font-family: "Roboto", sans-serif;
                      font-weight: 600;
                    }

                    .node-paragraph {
                      color: #141414;
                      font-family: "Inter", sans-serif;
                      font-weight: 400;
                    }
                }
            }
            .tiptap-block-node:nth-of-type(3) {
              display: flex;
              align-items: start;
              padding: 0px;
              justify-content: start;
              gap: 0px clamp(10px, 2vw, 10px);
                .tiptap-block-node.tiptap-block-node:nth-child(1)  {
                  white-space: normal;
                  color: white;
                  font-weight: 600;
                  font-family: "Poppins", sans-serif;
                  background: #2ED47B;
                  display: inline-flex;
                  justify-content: center;
                  height: auto;
                  clip-path: polygon(13% 0%, 87% 0%, 100% 100%, 0% 100%);
                  flex-direction: column;
                  padding: clamp(8px, 1.5vw, 13px) 0px;
                  text-align: center;
                  align-items: center;
                  gap: clamp(6px, 1vw, 10px);
                  flex-basis: 63%;
                  @media (max-width: 768px) {
                    flex-basis: 58%;
                  }

                    .react-renderer.node-paragraph:nth-child(1) {
                      width: clamp(14px, 4vw, 32px);
                      height: clamp(14px, 4vw, 32px);
                      border-radius: 50%;
                      background: #FAFAFA;
                      color: #242725;
                      font-weight: 600;
                      font-family: "Roboto", sans-serif;
                      font-size: clamp(12px, 3vw, 20px) !important;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }

                    .node-paragraph {
                      color: #FAFAFA;
                      text-align: center;
                      font-family: "Lato", sans-serif;
                      font-style: normal;
                      font-weight: 400 !important;
                      line-height: normal;
                    }
                }
                .tiptap-block-node {
                  flex-direction: column;
                  width: auto;
                  align-items: start;
                  padding-left: 0px;
                  flex-basis: 30%;
                  background: transparent;

                    .node-heading:has(h4) {
                      color: #2ED47B;
                      font-family: "Roboto", sans-serif;
                      font-weight: 600;
                    }

                    .node-paragraph {
                      color: #141414;
                      font-family: "Inter", sans-serif;
                      font-weight: 400;
                    }
                }
            }
        }

      }
    }
  }
}&.type-Data-chart {
  &.variant-default {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .node-heading:has(h1) {
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #242725;
          padding: clamp(12px, 2vw, 18px) clamp(12px, 3vw, 20px);
        }
        .tiptap-block-node {
          display: grid;
          padding-top: clamp(10px, 2vw, 20px);
          padding-left: clamp(10px, 2vw, 20px);
          padding-right: clamp(10px, 2vw, 20px);
          height: max-content;
          row-gap: clamp(4px, 1.5vw, 8px);


            .node-image {
              height: max-content;
              width: 90&;
              left: 0;
              margin-top: clamp(6px, 2vw, 10px);
            }

            .node-paragraph {
              color: #242725;
              font-family: "Inter", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-citations-bullets-slide {
  &.variant-no-image {
    .data-node-content {
      background-color: #E8E8E8;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: clamp(6px, 2vw, 10px) 0;
        .node-heading:has(h1) {
          padding-left: 20px;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          color: #303D45;
        }
        ul {
          list-style: none;
          padding: clamp(10px, 3vw, 20px) clamp(10px, 3vw, 20px);
          li {
            display: flex;
          align-items: center;
          gap: 0 clamp(7px, 2vw, 16px);
          margin-bottom: clamp(7px, 2vw, 16px);
          color: #141414;
          span {
            margin-top: 0px;
          background: #2ED47B;
          height: clamp(12px, 2vw, 17px) !important;
          width: clamp(12px, 2vw, 17px) !important;
          }
          p {
            font-size: clamp(6px, 1.6vw, 13px) !important;
          font-family: "Inter", sans-serif;
          }
          }
        }

      }
    }
  }
}&.type-closing-slide {
  &.variant-top-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #141414;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              font-family: "Roboto", sans-serif;
              font-weight: 700;
              position: relative;
            }

            .node-paragraph {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #2ED47B;
              text-align: center;
              font-family: "Roboto", sans-serif;
              font-weight: 700;
              position: relative;
            }
        }

      }
    }
  }
}&.type-closing-slide {
  &.variant-lumen-closing-layout-with-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .node-image {
            z-index: 0;
          }
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #141414;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              background: #fff;
              font-family: "Roboto", sans-serif;
              font-weight: 700;
              position: relative;
            }

            .node-paragraph {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #fff;
              background-color: #2ED47B;
              text-align: center;
              font-family: "Inter", sans-serif;
              font-weight: 400;
              position: relative;
            }
        }
        .tiptap-block-node {


            .node-image {
              height: auto;
              width: 100%;
              position: absolute;
              top: 0;
              z-index: -1;
            }        }

      }
    }
  }
}&.type-closing-slide {
  &.variant-lumen-closing-layout-with-image-variant2 {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .node-image {
            z-index: 0;
          }
        :nth-last-of-type(2) {

            .tiptap-block-node {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              position: relative;
              width: 100%;
              margin: 0 auto;
              height: auto;
              padding: clamp(20px, 5vw, 20px) clamp(5px, 2vw, 10px);
              background: rgb(255 255 255 / 80%);
              border-left: clamp(8px, 1vw, 10px) solid #242725;

                .node-heading:has(h1) {
                  padding: clamp(4px, 1vw, 10px);
                  width: fit-content;
                  height: fit-content;
                  text-align: center;
                  white-space: nowrap;
                  font-family: "Roboto", sans-serif;
                  font-weight: 700;
                  color: #242725;
                  position: relative;
                }

                .node-paragraph {
                  padding: clamp(4px, 1vw, 10px);
                  width: fit-content;
                  height: fit-content;
                  color: #000;
                  text-align: center;
                  font-family: "Inter", sans-serif;
                  font-weight: 400;
                  position: relative;
                }
            }        }
        .tiptap-block-node {


            .node-image {
              height: auto;
              width: 100%;
              position: absolute;
              top: 0;
              z-index: -1;
            }        }

      }
    }
  }
}
}
    }}}