.tiptap.ProseMirror {
  .node-dataNode {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* Default styling */
    background-color: transparent;

    .tiptap-data-node {
    &.template-ultramarine {
 &.type-title-slide {
  &.variant-top-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: white;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
            }

            .node-heading:has(h4) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #16E4B3;
              text-align: center;
              font-family: "Outfit", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-thank-you-slide {
  &.variant-top-image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: white;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
            }

            .node-heading:has(h4) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #16E4B3;
              text-align: center;
              font-family: "Outfit", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-title-slide {
  &.variant-bg_image {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .node-image {
            z-index: 0;
          }
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


            .node-heading:has(h1) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: white;
              text-align: center;
              margin-bottom: clamp(8px, 2vw, 16px);
              white-space: nowrap;
              background: #051D40;
              font-weight: 600;
              position: relative;
            }

            .node-heading:has(h4) {
              padding: clamp(4px, 1vw, 10px);
              width: fit-content;
              height: fit-content;
              color: #051D40;
              background-color: #16E4B3;
              text-align: center;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
              font-style: SemiBold;
            }
        }
        .tiptap-block-node {


            .node-image {
              height: auto;
              width: 100%;
              position: absolute;
              top: 0;
              z-index: -1;
            }        }

      }
    }
  }
}&.type-agenda-slide {
  &.variant-left-image {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: grid;
          grid-template-columns: 40% 1fr;
          grid-template-rows: 1fr;
        ul {
          grid-column: 2;
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          list-style: none;
          padding: clamp(12.5px, 4vw, 50px);
          margin: 0;
          li {
            display: flex;
          align-items: center;
          gap: clamp(4px, 1vw, 16px);
          span {
            background-color: #16e4b3;
          outline: clamp(0.5px, 0.15vw, 2px) solid #16e4b3;
          outline-offset: clamp(1px, 0.3vw, 4px);
          width: clamp(6px, 1.5vw, 15px) !important;
          height: clamp(6px, 1.5vw, 15px) !important;
          }
          p {
            font-size: clamp(4px, 2vw, 15px) !important;
          font-family: "Outfit", sans-serif;
          }
          position: relative;
          padding: clamp(4px, 1vw, 16px) 0 clamp(4px, 1vw, 16px) clamp(12px, 4vw, 48px);
          margin: 0;
          font-weight: 600;
          color: white;
          font-family: "Outfit", sans-serif;
          }
        }

      }
    }
  }
}&.type-accent-image-slide {
  &.variant-left-image {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: grid;
          align-items: center;
          grid-template-columns: 37% 1fr;
        .tiptap-block-node {
          padding-right: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 10;


            .node-heading:has(h2) {
              color: #16E4B3;
              margin: 0 0 clamp(6px, 2vw, 25px) 0;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
            }

            .node-paragraph {
              color: white;
              padding-right: clamp(12.5px, 4vw, 50px);
              margin-bottom: clamp(12.5px, 4vw, 50px);
              font-family: "Overlock", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-accent-image-slide {
  &.variant-accents-right-imag-slide {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: grid;
          align-items: center;
          grid-template-columns: 63% 1fr;
        .tiptap-block-node {
          padding-right: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 10;


            .node-heading:has(h2) {
              color: #16E4B3;
              margin: 0 0 clamp(6px, 2vw, 25px) 0;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
            }

            .node-paragraph {
              color: white;
              padding-right: clamp(12.5px, 4vw, 50px);
              margin-bottom: clamp(12.5px, 4vw, 50px);
              font-family: "Overlock", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-heading-text-slide {
  &.variant-left-heading {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: clamp(12.5px, 4vw, 50px);


            .node-heading:has(h1) {
              color: white;
              display: flex;
              justify-content: center;
              text-align: center;
              width:  100%;
              flex: 1;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
            }

            .node-paragraph {
              color: white;
              padding: 0 clamp(12.5px, 4vw, 50px);
              flex: 1;
              font-family: "Overlock", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-heading-text-slide {
  &.variant-heading-text-left-image {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: clamp(12.5px, 4vw, 50px);


            .node-heading:has(h1) {
              color: white;
              display: flex;
              justify-content: center;
              text-align: center;
              width:  100%;
              flex: 1;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
            }

            .node-paragraph {
              color: white;
              padding: 0 clamp(12.5px, 4vw, 50px);
              flex: 1;
              font-family: "Overlock", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-heading-text-slide {
  &.variant-heading-text-left-image-variant2 {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: clamp(10px, 4vw, 50px);


            .node-heading:has(h1) {
              color: #16E4B3;
              display: flex;
              justify-content: center;
              text-align: center;
              width:  100%;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
            }

            .node-paragraph {
              color: white;
              padding: 0 clamp(12.5px, 4vw, 50px);
              text-align: center;
              width: 86%;
              font-family: "Overlock", sans-serif;
              font-weight: 400;
            }
        }

      }
    }
  }
}&.type-section-break-slide {
  &.variant-sectionbreak1 {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: flex;
          justify-content: center;
          align-items: center;
        .tiptap-block-node {
          display: flex;
          justify-content: start;
          gap: 0 clamp(10px,3vw,25px);
          width: fit-content;
          height: fit-content;
          align-items: center;


            .node-paragraph {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              width: clamp(30px, 16vw, 160px);
              height: clamp(30px, 16vw, 160px);
              background: linear-gradient(to right,#31ABFF,#16E4B3);
              font-family: "Outfit", sans-serif;
              font-weight: 600;
              color: #FFFFFF;
              p {
                font-size: clamp(28px, 6vw, 90px) !important;
              }
            }

            .node-heading:has(h1) {
              color: #fff;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
            }
        }

      }
    }
  }
}&.type-section-break-slide {
  &.variant-ultramarine-sectionbreak1 {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: flex;
          justify-content: center;
          align-items: center;
        .tiptap-block-node {
          display: flex;
          justify-content: space-between;
          gap: 0 clamp(10px,3vw,25px);
          width: 83%;
          height: fit-content;
          align-items: center;


            .node-paragraph {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              width: clamp(30px, 16vw, 160px);
              height: clamp(30px, 16vw, 160px);
              background: none;
              font-family: Outfit,sans-serif;
              font-weight: 600;
              color: #FFFFFF;
              strong {
                font-size: clamp(30px, 16vw, 128px);
              }
            }

            .node-heading:has(h1) {
              color: #16E4B3;
              font-family: Outfit,sans-serif;
              font-weight: 600;
            }
        }

      }
    }
  }
}&.type-text-card-slide {
  &.variant-default {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 20px;
        .node-heading:has(h1) {
          color: #16E4B3;
          font-family: "Outfit", sans-serif;
          font-weight: 600;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          padding-left: 0;
          padding-top: clamp(10px,3vw,15px);
          grid-template-rows: 1fr;
          gap: 21px;

            .tiptap-block-node {
              display: flex;
              flex-direction: column;
              justify-content: start;
              padding: 20px 0px;
              position: relative;
              min-height: 60%;
              max-height: 80%;

                .node-heading:has(h4) {
                  font-weight: bold;
                  color: white;
                  display: flex;
                  justify-content: left;
                  margin-bottom: 0px;
                  padding: 0px clamp(8px, 1.5vw, 13px) 0px;
                  font-family: "Outfit", sans-serif;
                }

                .node-paragraph {
                  margin: 0;
                  padding: 0px clamp(10px, 2vw, 17px) 0px;
                  font-family: "Overlock", sans-serif;
                  p {
                    font-size: 20px;
                  color: white;
                  font-weight: 400;
                  font-family: "Overlock", sans-serif;
                  }
                }

                .react-renderer.node-image {
                  position: absolute;
                  z-index: -1;
                }
            }
        }

      }
    }
  }
}&.type-text-card-slide {
  &.variant-ultramarine-textcard-slide {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 0px;
        .node-heading:has(h1) {
          color: #16E4B3;
          padding-left: clamp(12.5px, 4vw, 20px);
          font-family: "Outfit", sans-serif;
          font-weight: 600;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          padding: 12px 20px;
          gap: clamp(20px, 20px, 20px);
          height: fit-content;

            .tiptap-block-node {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              gap: clamp(10px, 2vw, 20px);
              padding: 0px;
              position: relative;
              height: 90px;

                .node-heading:has(h4) {
                  font-weight: bold;
                  font-family: "Outfit", sans-serif;
                  color: white;
                  display: flex;
                  justify-content: left;
                  flex: 1;
                  padding-left: 20px;
                }

                .node-paragraph {
                  margin: 0;
                  color: white;
                  flex: 3;
                  p {
                    font-family: "Overlock", sans-serif;
                  font-weight: 400;
                  }
                }

                .react-renderer.node-image {
                  position: absolute;
                  z-index: -1;
                  width: auto;
                  img {
                    width: auto;
                  height: auto;
                  }
                }
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-large-bullet {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 0px;
        .node-heading:has(h1) {
          color: #FFFFFF;
          padding-left: 20px;
          font-family: "Outfit", sans-serif;
          font-weight: 600;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          padding: 20px 20px;

            .tiptap-block-node {
              display: flex;
              flex-direction: row;
              align-items: start;
              gap: 0 clamp(3px,2vw,17px);
              padding: 0;

                .node-paragraph {
                  color: white;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  width: clamp(15px,4vw,50px);
                  height: clamp(15px,4vw,50px);
                  background: linear-gradient(to right,rgba(49, 171, 255, 0),#31ABFF);
                  font-family: "Outfit", sans-serif;
                  font-weight: 600;
                }
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                      font-weight: 600;
                      font-family: Outfit,sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #FFFFFF;
                      font-weight: 400;
                      font-family: Overlock,sans-serif;
                    }
                }
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-ultramarine-info-collection-slide-variant1 {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 0px;
        .node-heading:has(h1) {
          color: #FFFFFF;
          padding-left: clamp(12.5px, 4vw, 50px);
          font-family: "Outfit", sans-serif;
          font-weight: 600;
          text-align: center;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto;
          padding: 20px 20px;

            .tiptap-block-node {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 0 clamp(3px,2vw,17px);
              padding: 0;
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-image {
                      position: relative;
                      display: inline-block;
                      padding: clamp(9px, 1vw, 10px);
                      width: clamp(155px, 10vw, 155.049px);
                      height: clamp(155px, 10vw, 155.049px);
                      flex-shrink: 0;
                      background: linear-gradient(180deg, var(--Color-2, #31ABFF) 0%, #16E4B3 100%);
                      border-radius: 50%;
                      img {
                        display: block;
                      border-radius: 50%;
                      object-fit: cover;
                      background-color: #fff;
                      }
                    }

                    .node-heading:has(h4) {
                      color: #16E4B3;
                      font-weight: 600;
                      font-family: Outfit,sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #FFFFFF;
                      font-weight: 400;
                      font-family: Overlock,sans-serif;
                    }
                }
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-ultramarine_info-collection-timeline-variant2 {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 0px;
        .node-heading:has(h1) {
          color: #FFFFFF;
          padding-left: clamp(12.5px, 4vw, 50px);
          font-family: "Outfit", sans-serif;
          font-weight: 600;
        }
        .tiptap-block-node {
          position: relative;

            .tiptap-block-node {
              display: flex;
              flex-direction: row;
              gap: 20px;
              padding: 15px 20px;
              height: auto;

                .node-paragraph {
                  color: white;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  width: clamp(15px,4vw,50px);
                  height: clamp(15px,4vw,50px);
                  background: linear-gradient(to right,rgba(49, 171, 255, 0),#31ABFF);
                  font-weight: 600;
                  font-family: Outfit,sans-serif;
                }
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  3px;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                      font-family: "Outfit", sans-serif;
                      font-weight: 600;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #FFFFFF;
                      font-family: "Overlock", sans-serif;
                      font-weight: 400;
                    }
                }
            }

            .react-renderer.node-image {
              height: clamp(134px, 25vw, 314px);
              left: clamp(21.5px, 2.85vw, 41px);
              top: clamp(50px, 8vw, 90px);
              z-index: -1;
              width: 2px;
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-ultramarine_info-collection-timeline-variant3 {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 0px;
        .node-heading:has(h1) {
          color: #FFFFFF;
          padding-left: 20px;
          font-family: "Outfit", sans-serif;
          font-weight: 600;
          text-align: center;
        }
        .tiptap-block-node:first-of-type:not(.tiptap-block-node .tiptap-block-node) {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto;
          padding: 0 clamp(12.5px, 4vw, 50px);
          position: relative;
          gap: 20px;
          &::before {
            content: '';
          display: inline-block;
          position: absolute;
          top: clamp(-12px, 1vw, 27px);
          width: 83%;
          height: 20px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1045' height='30' viewBox='0 0 1045 30' fill='none'%3E%3Cpath d='M1044.41 16.4142C1045.2 15.6332 1045.2 14.3668 1044.41 13.5858L1031.69 0.857864C1030.91 0.0768156 1029.64 0.0768156 1028.86 0.857864C1028.08 1.63891 1028.08 2.90524 1028.86 3.68629L1040.17 15L1028.86 26.3137C1028.08 27.0948 1028.08 28.3611 1028.86 29.1421C1029.64 29.9232 1030.91 29.9232 1031.69 29.1421L1044.41 16.4142ZM0 15V17H1043V15V13H0V15Z' fill='%2331ABFF'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          z-index: -1;
          right: 50px;
          }

            .tiptap-block-node {
              display: flex;
              flex-direction: column;
              gap: clamp(3px, 2vw, 9px) clamp(20px, 5vw, 45px);
              padding: 10px 0px;
              height: auto;

                .node-paragraph {
                  color: white;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  width: clamp(15px,4vw,50px);
                  height: clamp(15px,4vw,50px);
                  background: linear-gradient(180deg, rgb(0 0 0) 0%, #31ABFF 100%);
                  font-weight: 600;
                  font-family: Outfit,sans-serif;
                }
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                      font-weight: 600;
                      font-family: Outfit,sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #FFFFFF;
                      font-family: "Overlock", sans-serif;
                      font-weight: 400;
                    }
                }
            }
        }

      }
    }
  }
}&.type-info-collection-slide {
  &.variant-ultramarine_info-collection-timeline-variant4 {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 0;
        .node-heading:has(h1) {
          color: #FFFFFF;
          padding-left: 20px;
          font-family: "Outfit", sans-serif;
          font-weight: 600;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: start;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto;
          padding: 0 20px;

            .tiptap-block-node {
              display: flex;
              flex-direction: column;
              gap: clamp(3px, 2vw, 9px) clamp(20px, 5vw, 45px);
              padding: clamp(25px, 25px, 25px) 0;
              height: auto;
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #fff;
                      font-weight: 600;
                      font-family: Outfit,sans-serif;
                      text-align: center;
                      strong {
                        font-size: 20px;
                      }
                      padding: 11px 0px;
                      background: linear-gradient(to left, #31abff 0%, rgba(49, 171, 255, 0) 100%);
                      clip-path: polygon(0% 0%, calc(100% - 32px) 0%, 100% 50%, calc(100% - 32px) 100%, 0% 100%, 32px 50%);
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }

                    ol {
                      list-style: none;
                      padding: 15px 0px;
                      li {
                        display: flex;
                      align-items: center;
                      gap: 0 clamp(7px, 2vw, 32px);
                      margin-bottom: clamp(7px, 2vw, 16px);
                      color: white;
                      span {
                        width: clamp(6px, 2vw, 12px) !important;
                      height: clamp(6px, 2vw, 12px) !important;
                      background-color: #16e4b3;
                      outline: clamp(0.5px, 0.15vw, 2px) solid #16e4b3;
                      outline-offset: clamp(1px, 0.3vw, 4px);
                      margin-top: clamp(3px, 1vw, 0px);
                      }
                      p {
                        font-size: clamp(6px, 1.8vw, 16px) !important;
                      }
                      }
                    }
                }
            }
        }

      }
    }
  }
}&.type-unordered-bullets-slide {
  &.variant-no-image {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: clamp(12.5px, 4vw, 50px) 0;
        .node-heading:has(h1) {
          color: #16E4B3;
          padding-left: clamp(12.5px, 4vw, 50px);
          font-family: "Outfit", sans-serif;
          font-weight: 600;
        }
        ul {
          list-style: none;
          padding: clamp(12.5px, 4vw, 50px);
          li {
            display: flex;
          align-items: start;
          gap: 0 clamp(7px, 2vw, 32px);
          margin-bottom: clamp(7px, 2vw, 16px);
          color: white;
          span {
            width: clamp(6px, 2vw, 12px) !important;
          height: clamp(6px, 2vw, 12px) !important;
          background-color: #16e4b3;
          outline: clamp(0.5px, 0.15vw, 2px) solid #16e4b3;
          outline-offset: clamp(1px, 0.3vw, 4px);
          margin-top: clamp(3px, 1vw, 12px);
          }
          p {
            font-size: clamp(6px, 1.6vw, 13px) !important;
          }
          }
        }

      }
    }
  }
}&.type-unordered-bullets-slide {
  &.variant-ultramarine-bullets-slide {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: flex;
          align-items: center;
          padding: 0px 0px;
        .tiptap-block-node {
          padding: 0 !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 10;
          flex-basis: 61%;


            .node-heading:has(h1) {
              color: #16E4B3;
              padding-left: 20px;
              font-family: "Outfit", sans-serif;
              font-weight: 600;
            }

            ul {
              list-style: none;
              padding: 10px 30px;
              li {
                display: flex;
              align-items: start;
              gap: 0 clamp(7px, 2vw, 32px);
              margin-bottom: clamp(7px, 2vw, 16px);
              color: white;
              span {
                width: clamp(6px, 2vw, 12px) !important;
              height: clamp(6px, 2vw, 12px) !important;
              background-color: #16e4b3;
              outline: clamp(0.5px, 0.15vw, 2px) solid #16e4b3;
              outline-offset: clamp(1px, 0.3vw, 4px);
              margin-top: clamp(3px, 1vw, 12px);
              }
              p {
                font-size: clamp(6px, 1.8vw, 20px) !important;
              }
              }
            }
        }
        .node-image {
          flex: 2;
        }

      }
    }
  }
}&.type-image-formats-slide {
  &.variant-square-image {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 0 clamp(11px, 3vw, 44px);
          padding: clamp(12.5px, 4vw, 50px);
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr;
          grid-template-rows: 30% auto 1fr;
          gap: clamp(3px, 1vw, 12px) 0;
          padding: 0;


            .node-image {
              width: 100%;
              object-fit: cover;
              border-radius: clamp(3px, 1vw, 12px);
              overflow: hidden;
            }

            .node-heading:has(h4) {
              color: #16E4B3;
            }

            .node-paragraph {
              color: white;
              height: fit-content;
            }
        }

      }
    }
  }
}&.type-image-formats-slide {
  &.variant-image-formats-cricle-image {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        display: flex;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 0 clamp(11px, 3vw, 44px);
          padding: clamp(12.5px, 4vw, 50px);
        .tiptap-block-node {
          display: flex;
          flex-direction: column;
          justify-content: start;
          gap: clamp(3px, 1vw, 12px);
          padding: 0;


            .react-renderer.node-image {
              position: relative;
              display: inline-block;
              padding: clamp(9px, 1vw, 10px);
              width: clamp(155px, 10vw, 155.049px);
              height: clamp(155px, 10vw, 155.049px);
              flex-shrink: 0;
              background: linear-gradient(180deg, var(--Color-2, #31ABFF) 0%, #16E4B3 100%);
              border-radius: 50%;
              img {
                display: block;
              border-radius: 50%;
              object-fit: cover;
              background-color: #fff;
              }
            }

            .node-heading:has(h4) {
              color: #16E4B3;
            }

            .node-paragraph {
              color: white;
              height: fit-content;
            }
        }

      }
    }
  }
}&.type-funnel-slide {
  &.variant-funnel-text {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 20px;
          padding-top: clamp(10px,3vw,40px);
        .node-heading:has(h1) {
          color: #16E4B3;
          font-family: "Outfit", sans-serif;
          font-weight: 600;
        }
        .tiptap-block-node {
          display: grid;
          padding-top: clamp(42px, 3vw, 30px);
          padding-left: 0;
          padding-right: 0px;
          row-gap: 8px;

            .tiptap-block-node:nth-of-type(1) {
              display: flex;
              align-items: center;
              padding: 0px;
              justify-content: space-between;
              gap: 0px clamp(10px, 2vw, 20px);

                .node-heading:has(h4) {
                  white-space: normal;
                  color: white;
                  font-weight: 600;
                  font-family: Outfit, sans-serif;
                  background: linear-gradient(to right, rgba(49, 171, 255, 1), rgba(49, 171, 255, 0));
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  flex-basis: 55%;
                  height: clamp(40px, 8vw, 80px);
                  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
                  text-align: center;
                  strong {
                    font-size: clamp(8px, 2vw, 18px) !important;
                  padding: 12px;
                  }
                }

                .node-paragraph {
                  color: white;
                  font-weight: 400;
                  font-family: Overlock, sans-serif;
                  flex-basis: 47%;
                }
            }
            .tiptap-block-node:nth-of-type(2) {
              display: flex;
              align-items: center;
              justify-content: start;
              padding: 0;
              padding-left: clamp(14px,4.3vw,43px);
              gap: 0px clamp(10px, 2vw, 20px);

                .node-heading:has(h4) {
                  background: linear-gradient(to right, rgba(49, 171, 255, 1), rgba(49, 171, 255, 0));
                  color: white;
                  font-weight: 600;
                  font-family: Outfit, sans-serif;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  flex-basis: 44%;
                  height: clamp(40px, 8vw, 80px);
                  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
                  flex-shrink: 0;
                  text-align: center;
                  strong {
                    font-size: clamp(8px, 2vw, 18px) !important;
                  padding: 12px;
                  }
                }

                .node-paragraph {
                  color: white;
                  font-weight: 400;
                  font-family: Overlock, sans-serif;
                  flex-basis: 53%;
                }
            }
            .tiptap-block-node:nth-of-type(3) {
              display: flex;
              align-items: center;
              justify-content: start;
              padding-top: 0px;
              padding-left: clamp(20px, 8.8vw, 80px);
              gap: 0px clamp(10px, 2vw, 20px);

                .node-heading:has(h4) {
                  background: linear-gradient(to right, rgba(49, 171, 255, 1), rgba(49, 171, 255, 0));
                  color: white;
                  font-weight: 600;
                  font-family: Outfit, sans-serif;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  width: clamp(110px, 30vw, 310px);
                  height: clamp(40px, 8vw, 80px);
                  max-width: 240px;
                  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
                  flex-shrink: 0;
                  text-align: center;
                  strong {
                    font-size: clamp(8px, 2vw, 18px) !important;
                  padding: 12px;
                  }
                }

                .node-paragraph {
                  color: white;
                  font-weight: 400;
                  font-family: Overlock, sans-serif;
                }
            }
        }

      }
    }
  }
}&.type-funnel-slide {
  &.variant-funnel-slide-pyramind {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 20px;
        .node-heading:has(h1) {
          color: #16E4B3;
          font-weight: 600;
          font-family: Outfit, sans-serif;
        }
        .tiptap-block-node {
          display: grid;
          padding-top: 0;
          padding-left: 0;
          padding-right: 0;
          height: max-content;

            .tiptap-block-node:nth-of-type(1) {
              display: flex;
              align-items: start;
              justify-content: start;
              width: auto;
              padding: 0px;
              padding-left: 159px;
                .tiptap-block-node.tiptap-block-node:nth-child(1)  {
                  white-space: normal;
                  color: white;
                  font-weight: 600;
                  font-family: Outfit, sans-serif;
                  background: linear-gradient(to right, rgba(49, 171, 255, 1), rgba(49, 171, 255, 0));
                  display: inline-flex;
                  justify-content: center;
                  height: max-content;
                  clip-path: polygon(0% 100%, 51% 0%, 51% 0%, 100% 100%);
                  flex-shrink: 0;
                  flex-direction: column;
                  flex-basis: 34%;
                  padding: 27px 39px 8px;
                  text-align: center;
                  align-items: center;
                  gap: clamp(6px, 1vw, 10px);

                    .react-renderer.node-paragraph:nth-child(1) {
                      width: 32px;
                      height: 32px;
                      border-radius: 50%;
                      background: linear-gradient(to bottom, #31ABFF 0%, #16E4B3 100%);
                      color: white;
                      font-weight: 600;
                      font-family: "Outfit", sans-serif;
                      font-size: 20px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      strong {
                        font-size: 20px;
                      }
                    }

                    .node-paragraph {
                      strong {
                        color: #FFF;
                      text-align: center;
                      font-family: "Overlock", sans-serif;
                      font-size: 13px;
                      font-style: normal;
                      font-weight: 400 !important;
                      line-height: normal;
                      }
                    }
                }
                .tiptap-block-node {
                  flex-direction: column;
                  flex-basis: 66%;
                  align-items: start;
                  padding-left: 0px;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                    }

                    .node-paragraph {
                      color: white;
                      font-weight: 400;
                      font-family: Overlock, sans-serif;
                    }
                }
            }
            .tiptap-block-node:nth-of-type(2) {
              display: flex;
              align-items: start;
              justify-content: start;
              width: auto;
              padding: 0px;
              padding-left: 65px;
                .tiptap-block-node.tiptap-block-node:nth-child(1)  {
                  white-space: normal;
                  color: white;
                  font-weight: 600;
                  font-family: Outfit, sans-serif;
                  background: linear-gradient(to right, rgba(49, 171, 255, 1), rgba(49, 171, 255, 0));
                  display: inline-flex;
                  justify-content: center;
                  height: initial;
                  clip-path: polygon(19% 0%, 81% 0%, 100% 100%, 0% 100%);
                  flex-shrink: 0;
                  flex-direction: column;
                  padding: 20px 0px;
                  text-align: center;
                  align-items: center;
                  gap: clamp(6px, 1vw, 10px);
                  flex-basis: 54%;
                  margin: clamp(14px, 2vw, 18px) 0px;

                    .react-renderer.node-paragraph:nth-child(1) {
                      width: 32px;
                      height: 32px;
                      border-radius: 50%;
                      background: linear-gradient(to bottom, #31ABFF 0%, #16E4B3 100%);
                      color: white;
                      font-weight: 600;
                      font-family: "Outfit", sans-serif;
                      font-size: 20px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      strong {
                        font-size: 20px;
                      }
                    }

                    .node-paragraph {
                      strong {
                        color: #FFF;
                      text-align: center;
                      font-family: "Overlock", sans-serif;
                      font-size: 13px;
                      font-style: normal;
                      font-weight: 400 !important;
                      line-height: normal;
                      }
                    }
                }
                .tiptap-block-node {
                  flex-direction: column;
                  flex-basis: 46%;
                  align-items: start;
                  padding-left: 0px;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                    }

                    .node-paragraph {
                      color: white;
                      font-weight: 400;
                      font-family: Overlock, sans-serif;
                    }
                }
            }
            .tiptap-block-node:nth-of-type(3) {
              display: flex;
              align-items: start;
              padding: 0px;
              justify-content: start;
                .tiptap-block-node.tiptap-block-node:nth-child(1)  {
                  white-space: normal;
                  color: white;
                  font-weight: 600;
                  font-family: Outfit, sans-serif;
                  background: linear-gradient(to right, rgba(49, 171, 255, 1), rgba(49, 171, 255, 0));
                  display: inline-flex;
                  justify-content: center;
                  height: auto;
                  flex-shrink: 0;
                  clip-path: polygon(13% 0%, 87% 0%, 100% 100%, 0% 100%);
                  flex-direction: column;
                  padding: 20px 0px;
                  text-align: center;
                  align-items: center;
                  gap: clamp(6px, 1vw, 10px);
                  flex-basis: 69%;

                    .react-renderer.node-paragraph:nth-child(1) {
                      width: 32px;
                      height: 32px;
                      border-radius: 50%;
                      background: linear-gradient(to bottom, #31ABFF 0%, #16E4B3 100%);
                      color: white;
                      font-weight: 600;
                      font-family: "Outfit", sans-serif;
                      font-size: 20px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      strong {
                        font-size: 20px;
                      }
                    }

                    .node-paragraph {
                      strong {
                        color: #FFF;
                      text-align: center;
                      font-family: "Overlock", sans-serif;
                      font-size: 13px;
                      font-style: normal;
                      font-weight: 400 !important;
                      line-height: normal;
                      }
                    }
                }
                .tiptap-block-node {
                  flex-direction: column;
                  width: auto;
                  align-items: start;
                  padding-left: 0px;
                  flex-basis: 30%;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                    }
                }
            }
        }

      }
    }
  }
}&.type-chart-slide {
  &.variant-default {
    .data-node-content {
      background-color: #ffffff;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        .node-heading:has(h1) {
          color: pink;
        }

      }
    }
  }
}&.type-chart-slide {
  &.variant-ultramarine_circle-stats-variant6 {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 20px;
        .node-heading:has(h2) {
          color: #FFFFFF;
          padding-left: 0px;
          font-weight: 600;
          font-family: Outfit,sans-serif;
          text-align: left;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto;
          padding: 10px 0px;

            .tiptap-block-node:nth-of-type(1) {
              display: flex;
              flex-direction: column;
              gap: clamp(3px, 2vw, 9px) clamp(20px, 5vw, 45px);
              padding: 20px 20px;
              height: auto;
              align-items: center;
                .tiptap-block-node:nth-of-type(1) {
                  position: relative;
                  padding: 0px;

                    .node-paragraph {
                      position: absolute;
                      p {
                        color: #16E4B3;
                      text-align: center;
                      font-family: Outfit,sans-serif;
                      font-size: 64px !important;
                      font-style: normal;
                      font-weight: 600;
                      line-height: normal;
                      }
                    }
                }
                .tiptap-block-node:nth-of-type(2) {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                      font-weight: 600;
                      font-family: Outfit,sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #FFFFFF;
                      font-weight: 400;
                      font-family: Overlock,sans-serif;
                    }
                }
            }
            .tiptap-block-node:nth-of-type(2) {
              display: flex;
              flex-direction: column;
              gap: clamp(3px, 2vw, 9px) clamp(20px, 5vw, 45px);
              padding: 20px 20px;
              height: auto;
              align-items: center;
                .tiptap-block-node:nth-child(1) {
                  position: relative;

                    .node-paragraph {
                      position: absolute;
                      p {
                        color: #16E4B3;
                      text-align: center;
                      font-family: Outfit,sans-serif;
                      font-size: 64px !important;
                      font-style: normal;
                      font-weight: 600;
                      line-height: normal;
                      }
                    }
                }
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                      font-weight: 600;
                      font-family: Outfit,sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #FFFFFF;
                      font-weight: 400;
                      font-family: Overlock,sans-serif;
                    }
                }
            }
            .tiptap-block-node:nth-of-type(3) {
              display: flex;
              flex-direction: column;
              gap: clamp(3px, 2vw, 9px) clamp(20px, 5vw, 45px);
              padding: 20px 20px;
              height: auto;
              align-items: center;
                .tiptap-block-node:nth-child(1) {
                  position: relative;
                  padding: 0px;

                    .node-paragraph {
                      position: absolute;
                      p {
                        color: #16E4B3;
                      text-align: center;
                      font-family: Outfit,sans-serif;
                      font-size: 64px !important;
                      font-style: normal;
                      font-weight: 600;
                      line-height: normal;
                      }
                    }
                }
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                      font-weight: 600;
                      font-family: Outfit,sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #FFFFFF;
                      font-weight: 400;
                      font-family: Overlock,sans-serif;
                    }
                }
            }
        }

      }
    }
  }
}&.type-chart-slide {
  &.variant-ultramarine_number-stats-variant7 {
    .data-node-content {
      background-color: #051D40;
      >div[data-node-view-content-react][data-node-view-wrapper] {
        padding: 10px 20px;
        .node-heading:has(h2) {
          color: #FFFFFF;
          padding-left: 0px;
          font-family: "Outfit", sans-serif;
          font-weight: 600;
          text-align: left;
        }
        .tiptap-block-node {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto;
          padding: 0px;

            .tiptap-block-node {
              display: flex;
              flex-direction: column;
              gap: clamp(6px, 7vw, 46px) clamp(20px, 5vw, 45px);
              padding: 0px 10px;
              height: auto;
              align-items: center;

                .react-renderer.node-paragraph:nth-child(1) {
                  p {
                    color: #16E4B3;
                  font-weight: 600;
                  font-family: Outfit,sans-serif;
                  font-size: 96px !important;
                  font-style: normal;
                  line-height: normal;
                  }
                }
                .tiptap-block-node {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  gap:  clamp(3px,2vw,9px) 0;

                    .node-heading:has(h4) {
                      color: #16E4B3;
                      font-weight: 600;
                      font-family: Outfit,sans-serif;
                    }

                    .node-paragraph {
                      all: unset;
                      flex: 1;
                      color: #FFFFFF;
                      font-weight: 400;
                      font-family: Overlock,sans-serif;
                    }
                }
            }
        }

      }
    }
  }
}
}
    }}}